<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-end">
            <a href="/books">Home   </a>
            <a href="/logout">     Logout</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>{{book.title}}</h3>
                <h4>Author: {{book.author.first_name}} {{book.author.last_name}}</h4>
                <div class="row">
                    <div class="co-sm-7 align-items-center">
                        <h3>Reviews</h3>
                        {% for review in all_reviews %}
                            <hr>
                            <p>Rating: {{review.rating}}</p>
                            <p>{{review.user.first_name}} says: {{review.content }}</p>
                            <div class="row">
                                <p>Posted on {{ review.created_at}}</p>
                                {% if review.user.first_name == user.first_name%}
                                    <a href="/review_delete/{{review.id}}">Delete Review</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-4">
                        <form action="/users/{{book.id}}" method="post">
                            {% csrf_token %}
                            <div class="col">
                                <label for="new_review" class="col-sm-3 col-form-label">Add a Review</label>
                                <div class="col-sm-7">
                                    <textarea name="new_review" id="new_review" cols="70" rows="5"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label for="rating" class="col-sm-2 col-form-label">Rating</label>
                                    <div class="col-sm-6">
                                        <input type="number" name="rating" min=1 max=5> stars
                                    </div>
                                </div>  
                                <div class="row justify-content-end">
                                    <button type="submit" class="btn btn-primary">Submit Review</button>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>