<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <title>Login and Registration</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container">
    <!-- <div class="row">
        <h2>Hello {{this_user.first_name}}</h2>
        <div class="col align-self-end">
          <a href="/logout">Logout</a>
        </div>
        <div class="col">
            <a href="/trips/new" class="btn btn-primary" role="button">Create a new trip!</a>
        </div>
    </div> -->

    <div class="row">
        <div class="col-sm-5">
          <h4>Hello {{this_user.first_name}}</h4>
        </div>
        <div class="col-sm-3">
          <a class="nav-link py-0" href="/logout">Logout</a>
        </div>
        <div class="col-sm-4">
          <a href="/trips/new" class="btn btn-primary" role="button">Create a new trip!</a>
      </div>
    </div>

    <h3>Your trips</h3>
      <div class="row">
      <table>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Plan</th>
            <th>Actions</th>
        </tr>
        
        {% for trip in trip_list %}
            <tr>
                <td><a href="/trips/{{trip.id}}">{{ trip.destination }}</a></td>
                <td>{{ trip.start_date }}</td>
                <td>{{ trip.end_date }}</td>
                <td>{{ trip.plan }}</td>
                <td><a href="/trips/edit/{{trip.id}}">Edit</a>|<a href="/trips/remove/{{trip.id}}">Remove</a></td>

            </tr>
        {% endfor %}
      </table>
    </div>


    <!-- <h3>Other people's trips</h3>
      <div class="row">
      <table>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Plan</th>
            <th>Want to join?</th>
        </tr>
        
        {% for trip in other_trips %}
            <tr>
                <td><a href="/trips/{{trip.id}}">{{ trip.destination }}</a></td>
                <td>{{ trip.start_date }}</td>
                <td>{{ trip.end_date }}</td>
                <td>{{ trip.plan }}</td>
                <td>
                  <form action="/trips/join/{{trip.id}}" method="post" id="registerForm">
                    {% csrf_token %}
                    <input type="text" hidden name="user_join" value="{{trip.creator.id}}">
                    <button type="submit" class="btn btn-link">Join</button>

                  </form>
                  <!-- <a href="/trips/join/{{trip.id}}">Join</a> -->
                </td>

            </tr>
        {% endfor %}
      </table>
    </div> -->

  </div>
</body>
</html>